/* MIT License, Copyright 2016, Jaco Greeff <jacogr@gmail.com> */

@import './_variables.css';

.navigation {
  text-align: center;
  padding: 1em;

  .inputButton {
    background: $button-color;
    border-radius: $button-radius;
    display: inline-block;
    margin: $button-margin;
    padding: 0;

    &[disabled] {
      background: $button-disabled-color;
    }

    button {
      margin: 0;
    }

    input {
      width: 5em;
      margin: 0 0 0 0.25em;
      text-align: right;
    }
  }

  button.spacer {
    margin: $button-margin 2em;
  }
}
